::-webkit-scrollbar { 
  width:0px; height:0px; 
}

.main-wrapper {
  opacity: 0;
}

.background {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  will-change: background-color;
  background-color: var(--bg);
  display: block;
}

#swup {
  z-index: 0;
}

/* Cursor container */
.custom-cursor-bg {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cursor);
}

/* Cursor container */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cursor container */
.custom-cursor-content {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cursor icon */
.custom-cursor-icon {
  user-select: none;
  color: var(--bg);    
  margin-right: 0;
}

.custom-cursor-text {
  font-size: 1rem;
  color: var(--bg);  
  user-select: none;
}


/* Voor de meeste browsers */
::selection {
  background-color: var(--primary);
  color: var(--bg);          
}

/* Voor Firefox */
::-moz-selection {
  background-color: var(--primary);
  color: var(--bg);  
}
